{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
	<li><a href="/">Home</a></li>
    <li class="active"><a href="/about/iguzu/">About</a></li>
    <li><a href="/about/contact/">Contact</a></li>
	<li><a href="/accounts">Accounts</a></li>
{% endblock %}
{% block content %}
<h2>About Accounts</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacus tellus, lobortis sed accumsan quis, ultricies vitae sapien. Sed in dignissim neque. Integer at erat quis libero consequat dictum. Fusce pulvinar leo adipiscing turpis condimentum venenatis.</p>
{% endblock %}
